@font-face {
    font-family: 'AmalgamationRegular';
    font-weight: normal;
    font-style: normal;
}

/* || resets and general rules */

html {
    font-family: helvetica, arial, 'sans serif';
}

body {
    margin: 1em;
    padding: 1em;
    /* take out for now to avoid IE < 9 with HTML5 headers and sections
    ** background-image: url(/uploads/avatars/busytown5.jpeg); */
    background-color: beige;
}

/*  ||  headings */
header {
    border-radius: 20px;
    padding: 1px 10px 10px 10px;
    margin: 10px;
    background-color: rgb(180,250,250);
}

section {
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(180,250,250);
    text-align: left;
    height: 800px;
    overflow: auto;
}
section#v_menu {
    height: auto;
    padding: 0px;
    margin: 0px;
}
h1, h2 {
    font-family: '"Helvetica Neue", Helvetica, Arial, sans-serif';
    color: rgb(200,0,0) !important;
}
h3 {
    font-family: 'AmalgamationRegular';
    color: rgb(200,0,0) !important;
    text-shadow: 1px 1px 2px #000000;
    font-style: italic;
    text-align: right;
}
h4 {
    font-family: 'AmalgamationRegular';
    color: rgb(200,0,0) !important;
    text-shadow: 1px 1px 2px #000000;
    text-align: center !important;
}
h5 {
    font-family: 'AmalgamationRegular';
    color: rgb(200,0,0);
    text-shadow: 1px 1px 2px #000000;
    font-style: italic;
    text-align: left;
}
p {
    font-family: 'AmalgamationRegular';
    color: black;
    text-shadow: 0.5px 0px 0px #000000;
}

p1 {
    font-family: 'AmalgamationRegular';
    color: green;
    text-shadow: 1px 1px 1px #000000;
}

p2 {
    font-family: 'AmalgamationRegular';
    color: green;
    text-shadow: 0.5px 1px 1px #000000;
    text-align: center;
}
p3 {
    font-family: 'AmalgamationRegular';
    color: inherit;
    font-size: 30px;
    text-shadow: 1px 1px 1px #000000;
}
mark.green {
    font-family: 'AmalgamationRegular';
    color:green;
    background: none;
    font-style: italic;
    float: left;
}

a {
    color: green;
    text-decoration: none;
}
#tagline {
    font-size: 0.9em;
}

/* Setting text area size and style */
textarea#url {
    height: 35px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;
}
/* Setting text area size and style */
input#playlist{
    width: 220px;
    height: 35px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;
}
.del-container {
    overflow: auto;
}

.thumbnail {
    background-position:center;
    margin: 0 0 10px 10px;
    border: 2px solid #666;
    border-radius: 20%;
    padding: 2px;
    cursor: pointer;
    float: left;
    position: absolute;
    top:10px;
    left:400px;

}

#yt_video_id {
 
    color: green;
}

/* || overall positioning and navigation */

#wrapper {
    width: auto;
    margin: 0 auto;
    position: relative;
}

#ytv {
    width: 960px;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    left: 29px;
}
#yt-video-clear {
    width: 960px;
    height: 28px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 150px;
    left: 29px;
    z-index: 1;
}
.yt-thumbnail {
    position: absolute;
    left: -50px;
}
.yt-info {
    width: 90px;
    position: relative;
}
.yt-info-full {
    border: 2px solid red;
    width:365px;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(240,240,240);
    font: bold smaller sans-serif;
    position: absolute;
    top: 20px;
    left: 530px;
}
.yt-info, .yt-info-full { cursor: pointer;}
.yt-info-full {display: none;}
.dropdown-menu-var {
    min-width: 135px !important;
    background-color: inherit !important;
}
/* || styling the document parts */

.error {color: rgb(200,0,0);}

#results {color: green; font-weight: bold;}

#menu {
    padding-bottom: 10px;
}
#nav {
    width: 100%;
    float: left;
    padding: 5px;
    list-style: none;
}
#nav li {

    float: left; 
}
#nav li a {
    display: block;
    padding: 2px 6px;
    text-decoration: none;
    font-weight: bold;
    color: green;
    border-right: 1px solid #ccc; 
    cursor:pointer;
    background:rgba(247,237,8,0.8);
    text-align:center;
    border-radius:.75em;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    transition-property: background, color, padding, border-radius;
    box-shadow:
        .1em -.1em 0 .1em rgba(0, 0, 0, .2),
        inset 0 0 0 .15em rgba(0, 0, 0, .4),
        -.1em .1em 0 .1em rgba(0, 0, 0, .2)
}
#nav li a:hover {
    color: #c00;
    background-color:rgba(251, 93, 0, .8);
    padding: 0.5em;
}

/*.index-view-full {visibility: hidden;}*/
.floatcircright
{
    float: right;
    margin: -10px 10px 10px 10px;
    border: 1px solid #666;
    border-radius: 50%;
    padding: 2px;
}
.circular
{
    margin: 0 0 10px 10px;
    border: 2px solid #666;
    border-radius: 50%;
    padding: 2px;
}
.floatright
{
    float: right;
    margin: -5px 10px 10px 10px;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 4px;
    text-shadow: 1px 0.5px 0.5px #000000;
    text-decoration: none;
}
.floatleft
{
    float: left;
    margin: 0px 20px 0 0;
    border: 1px solid #666;
    border-radius:10px;
    padding: 2px;
}

.hidden {
    visibility: hidden;
} 

a.remove {  
    border: 3px solid #0a0a0a;
    border-radius: 100%;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    background: rgb(240,240,240);
    font-weight: bold;
    position: absolute;
    top: 44px;
    left: 395px;
    z-index: 100;

}

.red {background: red;}

.control-label {
float: left;
width: 160px;
padding-top: 5px;
text-align: right;
}